body {
  text-align: center;
  margin: 5px;
  padding: 5px;
}

footer {
  padding-top: 80px;
  padding-bottom: 20px;

}

.jumbotron {
  background-color: black;
  color: yellow;
}

#navbar {
  background-color: black;

}
