<h1><strong>Welcome to the Q and A </strong></h1>

<p>Feel free to ask any question, about anything!</p>


{{new-question saveQuestion2 = "saveQuestion3"}}

<!-- displaying the model on the browser -->

{{#each model as |question|}}
  <br>{{question.author}}<br>{{question.question}}<br>{{question.additional_notes}}<br>
{{/each}}
