<h1><strong>Welcome to the Q and A </strong></h1>

<p>Feel free to ask any question, about anything!</p>

<ul>
{{#link-to 'quiz2'}}Click here to begin the Q and A.{{/link-to}}
{{#link-to 'quiz1'}}Home{{/link-to}}

</ul>
